<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dining Room | Deco Design</title>
  {% load static %}
  <link rel="icon" href="{% static 'logo.png' %}">
  <link rel="stylesheet" href="{% static 'other.css' %}" type="text/css">
</head>

<body bgcolor="white">

  <table border="0" cellpadding="0" cellspacing="0" align="right">
    <th><img src="{% static 'facebook icon.PNG' %}"></th>
    <th><img src="{% static 'twitter icon.PNG' %}"></th>
    <th><img src="{% static 'pintrest icon.PNG' %}"></th>
    <th><img src="{% static 'linkdin icon.PNG' %}"></th>
    <th><img src="{% static 'youtube icon.PNG' %}"></th>
    <th><img src="{% static 'instagram icon.PNG' %}"></th>
  </table>

  </br>
  </br>

  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <hr />
      <th width="12.5%"><img src="{% static 'logo.PNG' %}"></th>
      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="6.5" align="center">
            <strong><a href="{% url 'home' %}" id="manmeet">Home</a></strong>
          </font>
        </center>
      </td>
      <th width="12.5%">
        <font color="black" face="calibri" size="6.5" align="center">
          <strong>About</strong>
        </font>
      </th>
      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="4" align="center">
            <div class="dropdown">
              <button class="dropbtn"><strong>Residential</strong></button>
              <div class="dropdown-content">
                <a href="{% url 'livingroom' %}">Living/Drawing Room</a>
                <a href="{% url 'diningroom'%}">Dining Room</a>
                <a href="{% url 'kidrroom' %}">Kids Room</a>
                <a href="{% url 'studyroom'%}">Study Room</a>
                <a href="{% url 'bedroom' %}">Bedroom</a>
                <a href="{% url 'falseceiling' %}">False Ceiling</a>
              </div>
            </div>
          </font>
        </center>
      </td>

      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="4" align="center">
            <div class="dropdown">
              <button class="dropbtn"><strong>Commercial</strong></button>
              <div class="dropdown-content">
                <a href="{% url 'school' %}">School</a>
                <a href="{% url 'gym' %}">Gym</a>
                <a href="{% url 'cafe' %}">Cafe</a>
                <a href="{% url 'restaurants' %}">Restaurants</a>
              </div>
            </div>
          </font>
        </center>
      </td>

      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="4" align="center">
            <div class="dropdown">
              <button class="dropbtn"><strong>Office</strong></button>
              <div class="dropdown-content">
                <a href="{% url 'managerroom' %}">Manager Room</a>
                <a href="{% url 'sharedoffice' %}">Shared Office</a>
                <a href="{% url 'reception' %}">Reception</a>
                <a href="#"></a>
              </div>
            </div>
          </font>
        </center>
      </td>
      {% if user.is_authenticated %}
      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="6.5" align="center">
            <strong>Hello, {{user.first_name}}</strong>
          </font>
        </center>
      </td>
      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="6.5" align="center">
            <strong><a href="{% url 'logout' %}" id="manmeet">Logout</a></strong>
          </font>
        </center>
      </td>
      <td width= "12.5%">
        <font color="black" face="calibri" size="6.5" align="left">
          <strong><a href="{% url 'contact' %}" id="manmeet">Contact Us</a></strong>
        </font>
      </td>
      {% else %}
      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="6.5" align="center">
            <strong><a href="{% url 'register' %}" id="manmeet">Register</a></strong>
          </font>
        </center>
      </td>

      <td width="12.5%">
        <center>
          <font color="black" face="calibri" size="6.5" align="center">
            <strong><a href="{% url 'login' %}" id="manmeet">Login</a></strong>
          </font>
        </center>
      </td>
      {% endif %}

  </table>

  <center><img src="{% static 'dining room banner.PNG' %}" width="100%" height="65%"></center>
  </br>
  </br>

  <table border="0" width="70%" cellpadding="10" cellspacing="20" align="center">
    <tr>
      <td>
        <p>
          <font color="black" face="calibri" size="10" align="left">
            PERFECT DINING ROOM
          </font>
          <p>
            <font color="black" face="calibri" size="4" align="left">
              For many people,the dining room is their center piece-the place that they<br>
              entertain guests and share family meals.Because of its importance to the<br>
              home,it's importanctnt to get the design of any dining room exactly right.All<br>
              well designed dining rooms pay close attention to the space available.<br>
              When you are trying to place tables and chairs,lighting,and storage <br>
              cabinets,space is a mojor consideration.Everything works together,from <br>
              the ceiling lighting to the flooring ,to the walls and the table.However,it's <br>
              important to note that everyone;s tastes will differ.There is no one perfect <br>
              dining room,just an endless variety of interior designs that fit the passions <br>
              of the people they serve.
            </font>
          </p>
      </td>
      <th><img src="{% static 'dining room photo.png' %}" class="zoom"></th>
    </tr>
  </table>
  <hr />
  <h1 align="center"> DINING ROOM IDEAS</h1>
  <p>
    <center>
      <font color="black" face="calibri" size="4" align="center">
        You might be passionate about designing a brand new dining room,but where should you look for information and
        inspirating ? Creative Interior and Decor offers <br>
        a new way to discover the latest interior design trends,allowing anyone to select the right dinning room
        style.Contact Creative Interior and Decor for dining room <br>
        ideas as inspiration for how you want to design the space in your home,and you'll end up with just the right
        mix
        of comfort and elegance.
      </font>
    </center>
  </p>
  <br>
  <hr/>

  <br>
  <br>

  <center>
    <table width="100%">
      <tr>
        <td width="25%">
          <img src="{% static 'DR 1.png' %}" class="zoom">
        </td>
        <td width="25%">
          <img src="{% static 'DR 2.PNG' %}" class="zoom">
        </td>
        <td width="25%">
          <img src="{% static 'DR 3.PNG' %}" class="zoom">
        </td>
        <td width="25%">
          <img src="{% static 'DR 4.PNG' %}" class="zoom">
        </td>
      </tr>
    </table>
  </center>

  <br>
  <br>

  <img src="{% static 'ending.png' %}">
  <img src="{% static 'ending 2.png' %}">


</body>

</html>